@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", sans-serif;
  color: white;
  background-color: rgb(117, 109, 109);
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 250px;
  grid-auto-rows: auto;
  grid-template-areas: "hd hd" "nav nav" "main main" "footer footer";
}

.logo{
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  height: 60px;
  width: auto; 
  background-color: rgb(206, 198, 199, 0.5);
  border-radius: 5px;
}

.header {
  grid-area: hd;
  background-color: rgb(61, 69, 60);
  justify-content: center;
  align-items: center;
  position: relative; 
  text-align: center;
  display: flex;
}

.header__title {
  text-shadow: 0px 0px 30px rgb(206, 198, 199);
  color: white;
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 10px 20px 10px 20px;
  border-top: 3px solid rgb(206, 198, 199);
}

.sort {
  grid-area: nav;
  display: flex;
  background-color: rgb(61, 69, 60);
}

.sort__label,
.sort__item {
  padding: 0 32px;
  margin-bottom: 32px;
  text-decoration: none;
  color: white;
}

.sort__item:hover {
  background-color: rgb(206, 198, 199);
  color: rgb(61, 69, 60);
}

.content {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bio {
  width: 90%;
  background-color: rgb(61, 69, 60, 0.5);
  border-radius: 5px;
  margin: 16px;
}

.header_bio{
  font-size: 32px;
  border-bottom: 3px solid rgb(206, 198, 199);
  padding: 10px 20px 10px 20px;
  margin: 10px;
}

.portrait{
  height: 300px;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  border-radius: 5px;
  border: 3px solid rgb(206, 198, 199);
  box-shadow: 0 0 10px 3px rgb(206, 198, 199);
  float: left; /* Додаємо обтікання текстом праворуч */
  margin: 0 20px 0 0; /* Відступи для зображення */
}

.text_bio{
  font-size: 16px;
  margin: 32px;
}

.footer {
  grid-area: footer;
  padding: 32px;
  text-align: center;
  background-color: rgb(61, 69, 60);
  flex-shrink: 0;
}

.inform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inform p {
    margin: 0 84px;
}

.burger {
  display: none;
}

.burger__bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 150px;
    grid-template-areas: "hd hd" "nav nav" "main main" "footer footer";
  }
  .header {
    font-size: 20px;
    padding: 0;
  }
  .header__title {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .logo{
    bottom: 16px;
    height: 36px;
    width: auto; 
  }
  .sort {
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }
  .sort .sort__label,
  .sort .sort__item {
    display: none;
  }
  .sort.open .sort__label,
  .sort.open .sort__item {
    display: block;
    width: 100%;
    padding: 0;
  }
  .bio {
    width: 100%;
    margin: 5px 5px 5px 5px;
  }
  .portrait{
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .header_bio{
    font-size: 20px;
  }
  .text_bio{
    font-size: 16px;
  }
  .footer {
    padding: 28px;
  }
  .inform{
    display: block;
  }
  .inform p{
    padding: 16px;
  }
  .burger {
    display: inline-block;
  }
  .form{
    width: 100%;
  }
}
